.calendar-card {
  margin-top: 20px;
  background-color: #fafafa;
}

.fc-prev-button,
.fc-next-button,
.fc-today-button {
  background-color: #1677ff !important;
  border: none !important;
}

.fc-today-button {
  text-transform: capitalize !important;
}

.fc .fc-button:focus,
.fc .fc-button:active {
  box-shadow: none !important;
}

.fc-daygrid-event {
  border: none !important;
  margin: 1px 4px !important;
}

.bill-event {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  font-size: 12px;
  width: 100%;

  background-color: rgba(22, 119, 225, 0.2);
}

.bill-status.pending {
  width: 15%;
  background: rgba(255, 255, 0, 0.5);
}

.bill-status.completed {
  width: 15%;
  background: rgba(0, 255, 0, 0.5);
}

.bill-name {
  padding: 2px 6px;
  width: 75%;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
  font-weight: bold;
}

.bill-amount {
  color: #000000;
  padding: 2px 6px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
